<link rel="stylesheet" href="/css/indexcard.css">

<% if(locals.displayName) { %>
<div class="profile-float bg-white fixed top-2 right-2 flex shadow-md">
  <img class="rounded-full" style="width: 70px" src="<%= locals.profilePhoto %>">
  <div class="ml-4 mr-4 mt-1">
    <p class="mb-0"><b class="text-lg"><%= locals.displayName %></b></p>
    <a class="text-blue-500 font-bold no-underline" href="/logout">Logout</a>
  </div>
</div>
<% } %>